<button mat-icon-button style = "float:right ; margin: 5px; "matDialogClose>
<mat-icon >close</mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>Contact Us</h1>
    </header>
    <p>
        <mat-form-field>
            <input matInput placeholder="Name">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>drafts</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="TextArea">
            <mat-icon matSuffix>save</mat-icon>
        </mat-form-field>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="warn" matDialogClose>Cancel</button>
</mat-dialog-actions>